<div class="row">
	<div class="large-12 columns">
	  <img src="../../assets/biolinklogo1.png" alt="BioLink Logo" id="home-logo">
	</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Background</h4>
    <div class="row">
      <div class="large-6 columns">
        <p>The United Nations <a href="http://www.ohchr.org/en/professionalinterest/pages/crc.aspx" target="_blank">Convention on the Rights of the Child</a> (signed in 1989) set into stone several rights that apply to all children anywhere in the world, no matter their circumstance.  Interestingly enough, the United States was one of two UN member states (at the time) that was not a party to this human rights treaty.</p>
      </div>
      <div class="large-6 columns">
        <p>Several of these rights pertain to adoption.  While it's never explicitly stated, behind many of these rights lies the notion that children deserve to know their background.  Whether it has to do with biology, religion, ethnic identity, or any other category, children deserve to know their history and their roots.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns">
  	<img src="../../assets/openrecords.png" alt="Do You Know Your Roots Tree">
  </div>
  <div class="large-7 columns">
    <h4 class="subheader">The Problem</h4>

    <p>Adoption in the United States, aside from some overall federal legislation, is primarily left up to the state.  They have the right to determine if closed adoptions (an adoption process where there is no interaction of any kind between birth parents and prospective adoptive families) are fully closed, or if there's some exchange of information.  Some states allow adopted children to petition for open access when they reach a certain age, others only allow it in extreme medical emergencies, and others put their own legal twists on these ideas.</p>

    <p>Many people have seen viral posts on popular social media sites like Facebook where a person is holding up a sign declaring that they are looking for their biological parents or children.  Occasionally these posts even work to open up a channel of communication between involved parties, though likely they work far less often than their virality would lead you to believe.  What's needed is an updated way for parents and children to reconnect that is outside of the obstacles and sometimes prohibitive costs of the legal system.</p>
  </div>
</div>

<div class="row">
  <div class="large-7 columns">
    <h4 class="subheader">BioLink</h4>

    <p>This is where BioLink comes in.  You can post as a parent or child (or on behalf of one) with as much or as little information as you know about when and where the child was born.  A robust full-text search enables you to explore within a state's posts even if you're not quite sure what you're looking for.</p>

    <p><i>Note:</i>  As with any public sharing of information you're encouraged to consider how much you feel comfortable sharing.   Abusive comments and spam posts will not be tolerated.</p>
  </div>
  <div class="large-5 columns">
  	<img src="../../assets/adoption.jpg" alt="Man With Infant">
  </div>
</div>

<footer>
    <div class="row">
      <div class="large-12 columns">
        <p id="design-statement">Designed with <i class="fa fa-heart"></i> by <a href="http://kdmcclin.github.io/" target="_blank">Katherine McClintic</a></p>
      </div>
    </div>
  </footer>