/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body{
	background-color: #eef0da;
}

a:hover{
	color: #373B44;
}

a:visited{
	color: #73C8A9;
}

nav.top-bar{
	background: linear-gradient(#73C8A9, #41a581);
	box-shadow: 2px 2px 5px #888888;
}

nav.pagination{
	text-align: center;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: linear-gradient(#73C8A9, #41a581);
}

.actions input[type="submit"]{
	border-radius: 10px;
	background-color: #E1B866;
	padding: 10px;
}

.e-button {
	list-style-type: none;
	display: inline-block;
	margin-left: -17px;
}

.d-button {
	list-style-type: none;
	display: inline-block;
	padding-left: 30px;
}