<div class="row">
    <!-- TODO: Add dropdown list for mobile users/others or individual states instead of map-->
	<div class="large-3 columns">
		<h3 class="alphaheader">States A-H</h3>
		<a href="/alabama">Alabama</a><br>
		<a href="/alaska">Alaska</a><br>
		<a href="/arizona">Arizona</a><br>
		<a href="/arkansas">Arkansas</a><br>
		<a href="/california">California</a><br>
		<a href="/colorado">Colorado</a><br>
		<a href="/connecticut">Connecticut</a><br>
		<a href="/district of columbia">Washington, DC</a><br>
		<a href="/delaware">Delaware</a><br>
		<a href="/florida">Florida</a><br>
		<a href="/georgia">Georgia</a><br>
		<a href="/hawaii">Hawaii</a><br>
	</div>
	<div class="large-3 columns">
		<h3 class="alphaheader">States I-M</h3>
		<a href="/idaho">Idaho</a><br>
		<a href="/illinois">Illinois</a><br>
		<a href="/indiana">Indiana</a><br>
		<a href="/iowa">Iowa</a><br>
		<a href="/kansas">Kansas</a><br>
		<a href="/kentucky">Kentucky</a><br>
		<a href="/louisiana">Louisiana</a><br>
		<a href="/maine">Maine</a><br>
		<a href="/maryland">Maryland</a><br>
		<a href="/massachusetts">Massachusetts</a><br>
		<a href="/michigan">Michigan</a><br>
		<a href="/minnesota">Minnesota</a><br>
		<a href="/mississippi">Mississippi</a><br>
		<a href="/missouri">Missouri</a><br>
		<a href="/montana">Montana</a><br>
	</div>
	<div class="large-3 columns">
		<h3 class="alphaheader">States N-R</h3>
		<a href="/nebraska">Nebraska</a><br>
		<a href="/nevada">Nevada</a><br>
		<a href="/new hampshire">New Hampshire</a><br>
		<a href="/new jersey">New Jersey</a><br>
		<a href="/new mexico">New Mexico</a><br>
		<a href="/new york">New York</a><br>
		<a href="/north carolina">North Carolina</a><br>
		<a href="/north dakota">North Dakota</a><br>
		<a href="/ohio">Ohio</a><br>
		<a href="/oklahoma">Oklahoma</a><br>
		<a href="/oregon">Oregon</a><br>
		<a href="/pennsylvania">Pennsylvania</a><br>
		<a href="/rhode island">Rhode Island</a><br>
	</div>
	<div class="large-3 columns">
		<h3 class="alphaheader">States S-W</h3>
		<a href="/south carolina">South Carolina</a><br>
		<a href="/south dakota">South Dakota</a><br>
		<a href="/tennessee">Tennessee</a><br>
		<a href="/texas">Texas</a><br>
		<a href="/utah">Utah</a><br>
		<a href="/vermont">Vermont</a><br>
		<a href="/virginia">Virginia</a><br>
		<a href="/washington">Washington</a><br>
		<a href="/west virginia">West Virginia</a><br>
		<a href="/wisconsin">Wisconsin</a><br>
		<a href="/wyoming">Wyoming</a><br>
	</div>
</div>