<div class="row">
    <div class="large-12 columns">
    	<a href="/ohio"><h2 class="stateheader">Ohio</h2></a>
    	<% if !@reports.empty? %>
    		<%= form_tag(ohio_path, :method => "get", id: "search-form") do %>
	  			<%= text_field_tag :search, params[:search], placeholder: "Search for a Person Within This State" %>
  				<%= submit_tag "Search", :class => "button radius" %>
			<% end %>
		<% end %>
        <%= render partial: 'report_display' %>
    </div>
</div>