<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="/">BioLink</a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/">Reports</a></li>
      <% if !current_user %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% else %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </section>
</nav>